openapi: 3.0.4
servers:
  - url: 'https://compras.ds.frre.utn.edu.ar/v1'
info:
  description: >-
    Ejemplo de OAS para Transporte, Logística y Seguimiento.
  version: 1.0.0
  title: OpenAPI Transporte, Logística y Seguimiento - Desarrollo de Software 2025
  termsOfService: 'http://frre.utn.edu.ar/terminos'
  license:
    name: Apache-2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
paths:
  /envio/precio:
    get:
      summary: Calcula el precio de envio de un producto
      parameters:
        - in: query
          name: codigoPostalOrigen
          schema:
            type: string
            pattern: '^(?:[A-Za-z]\d{4}(?:[ -]?[A-Za-z]{3})|\d{4})$'
            example: 'C1001ABC'
          required: true
        - in: query
          name: codigoPostalDestino
          schema:
            type: string
            pattern: '^(?:[A-Za-z]\d{4}(?:[ -]?[A-Za-z]{3})|\d{4})$'
            example: 'C1001ABC'
          required: true
        - in: query
          name: precio
          schema:
            type: number
            format: float
            minimum: 0.0
            example: 5.6
          required: false
        - in: query
          name: volumen
          schema:
            type: number
            format: int32
            minimum: 0
            example: 4
          required: true
      responses:
        '200':
          description: 'Calculo de precio exitos'
          content:
            application/json:
              schema:
                type: number
              example: 42              
        '424':
          description: 'En precio no puede calcularse'
          content:
            application/json:
              schema:
                type: string
              example: 'Queda muy lejos'
  /items:
    get:
      summary: Obtener lista de items
      responses:
        '200':
          description: Lista de items obtenida exitosamente
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 1
                    name:
                      type: string
                      example: 'Item 1'
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Error al obtener la lista de items'